#include "common.xcconfig"

DEVELOPMENT_TEAM = 3XCK33884W
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Distribution: CWBASE LIMITED (3XCK33884W)

PROVISIONING_PROFILE_SPECIFIER = Fossil QC Distribution Profile
MAIN_BUNDLE_IDENTIFIER = com.cwbase.fossilqc.appstore
PRODUCT_NAME = $(APP_NAME)

MARKETING_VERSION = $(APP_STORE_VERSION)
MARKETING_BUILD_VERSION = $(BUILD_VERSION)

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) PRODUCTION
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) PRODUCTION

APPICON_NAME = AppIcon
