#include "common.xcconfig"

DEVELOPMENT_TEAM = 3XCK33884W
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer: Hon Kit Tam (9FH5QH3L9P)

PROVISIONING_PROFILE_SPECIFIER = Fossil QC PRD Profile
MAIN_BUNDLE_IDENTIFIER = com.cwbase.fossilqc.prdapp
PRODUCT_NAME = $(APP_NAME)P

MARKETING_VERSION = $(VERSION)
MARKETING_BUILD_VERSION = $(BUILD_VERSION)
