#include "common.xcconfig"

DEVELOPMENT_TEAM = 82J2UU426J
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer: Bobby Tam (QQ8K4Z8R64)

PROVISIONING_PROFILE_SPECIFIER = Alpha QC UAT Profile
MAIN_BUNDLE_IDENTIFIER = com.cwbase.alphaqc.uatapp
PRODUCT_NAME = $(APP_NAME)Ua

MARKETING_VERSION = $(VERSION)
MARKETING_BUILD_VERSION = $(BUILD_VERSION)

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) UAT
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) UAT
