#include "common.xcconfig"

DEVELOPMENT_TEAM = 3XCK33884W
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer: Hon Kit Tam (9FH5QH3L9P)

PROVISIONING_PROFILE_SPECIFIER = Fossil QC UAT Profile
MAIN_BUNDLE_IDENTIFIER = com.cwbase.fossilqc.uatapp
PRODUCT_NAME = $(APP_NAME)U13

MARKETING_VERSION = $(VERSION)
MARKETING_BUILD_VERSION = $(BUILD_VERSION)

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) UAT
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) UAT
